graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include pyproject.toml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml appveyor.yml .codacy.yml

exclude .codacy.yml
exclude .python-version
exclude .pyup.yml
exclude .travis.yml
exclude .venv
exclude .vscode
exclude appveyor.yml
exclude docs/examples
exclude examples
exclude Makefile
exclude requirements-dev.*
exclude requirements.txt
exclude tox.ini

recursive-exclude .github *
recursive-exclude .vscode *
recursive-exclude examples *
recursive-exclude docs/examples *

global-exclude *.py[cod] __pycache__ *.so *.dylib
